## 0.1 Process data

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import final_project.utils.paths as path
import janitor
import pandas as pd

In [3]:
input_covid_file = path.data_raw_dir("time_series_covid19_confirmed_global.csv")

In [4]:
covid_df = pd.read_csv(input_covid_file)
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 1050 entries, Province/State to 12/2/22
dtypes: float64(2), int64(1046), object(2)
memory usage: 2.3+ MB

In [5]:
covid_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/23/22,11/24/22,11/25/22,11/26/22,11/27/22,11/28/22,11/29/22,11/30/22,12/1/22,12/2/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,205391,205506,205541,205612,205612,205802,205830,205907,206073,206133
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,333293,333305,333316,333322,333330,333330,333338,333343,333360,333381
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271041,271050,271057,271061,271061,271079,271082,271090,271096,271100
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,46824,46824,46824,46824,46824,46824,46824,47219,47219,47219
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,104491,104491,104491,104491,104491,104491,104491,104676,104676,104676

In [6]:
processed_df = (
    covid_df
    .select_columns(["Country/Region", "*/*/*"])
    .pivot_longer(
        index="Country/Region",
        names_to="date"
    )
    .transform_column("date", pd.to_datetime)
    .clean_names()
)

processed_df.head()

  country_region       date  value
0    Afghanistan 2020-01-22      0
1        Albania 2020-01-22      0
2        Algeria 2020-01-22      0
3        Andorra 2020-01-22      0
4         Angola 2020-01-22      0

In [7]:
output_covid_file = path.data_processed_dir("time_series_covid19_confirmed_global_processed.csv")

In [8]:
processed_df.to_csv(output_covid_file, index=False)